In [6]:

def importContacts(newContacts):
    contacts.update(newContacts)
    print(len(newContacts.keys()),"Contacts added successful");
    return;

newContacts={'Dinesh':45674578,'Ajay':894577387}
importContacts(newContacts)

2 Contacts added successful

In [4]:

contacts={}
def addContact(name,phone):
    #verify that the contact doesnot already exists
    if name not in contacts:
        contacts[name]=phone
        print("Contact %s added" % name)
    else:
        print("Contact %s already exists" % name)
    return
addContact("Anil",8467987563)
addContact("Harsha",764985987)
addContact("Anil",456798086)

Contact Anil added
Contact Harsha added
Contact Anil already exists

In [5]:

# search for a particular contact from contact list
def searchContact(name):
    if name in contacts:
        print(name," : ",contacts[name])
    else:
        print("%s does not exists" % name)
    return
searchContact("Anil")
searchContact("Ajay")
searchContact("Harsha")
searchContact("Kranth")

Anil  :  8467987563
Ajay does not exists
Harsha  :  764985987
Kranth does not exists

In [7]:

def deleteContact(name):
    if name in contacts:
        del contacts[name]
        print(name,": is deleted from the contact")
    else:
        print(name,": is not exists in the contact")
    return
deleteContact("Harsha")
deleteContact("Naveen")

Harsha : is deleted from the contact
Naveen : is not exists in the contact

In [8]:
def updateContact(name,phone):
    if name in contacts:
        contacts[name]=phone
        print(name,": updated with new phone number ")
    else:
        print(name,"not exist in contacts")
    return
updateContact("Anil",9966552211)
updateContact("Harsha",9988774422)

Anil : updated with new phone number
Harsha not exist in contacts

In [9]:

lst=[1,2,3,4]
print("%d %d %d %d"%(lst[0],lst[1],lst[2],lst[3]))

1 2 3 4

In [10]:

lst=[1,2,3,4]
print("Value at : {0}  Value at : {1}".format(lst[0],lst[1]))
print("Value at : {0}  Value at : {1}".format(lst[2],lst[3]))

Value at : 1  Value at : 2
Value at : 3  Value at : 4

In [11]:
s="python programming"
print(s.replace("gra","application"))

python proapplicationmming

In [12]:
 t=("python","programming","us")
print("t[0]=",t[0])
print("t[1]=",t[1])
print("t[2]=",t[2])

t[0]= python
t[1]= programming
t[2]= us

In [13]:
t1=("Python","Programming","1989","2019","Machine Learning","AI")
print("t1[0]=",t1[0]);
print("t1[2]=",t1[2]);
print("t1[-1]=",t1[-1]);
print("t1[1:4]=",t1[1:4]);
print("t1[2:-2]=",t1[2:-2]);

t1[0]= Python
t1[2]= 1989
t1[-1]= AI
t1[1:4]= ('Programming', '1989', '2019')
t1[2:-2]= ('1989', '2019')

In [14]:
t1=("Python","Programming","1989","2019","Machine Learning","AI")
t2=(1,2,3,4,5)
print(t1);
print(t2);

('Python', 'Programming', '1989', '2019', 'Machine Learning', 'AI')
(1, 2, 3, 4, 5)

In [15]:
t1=("Python","Pogrammong",1989,2019,"Machine Learning","AI");

print("t1[0]=",t1[0])
print("t1[2]=",t1[2])
print("t1[-1]=",t1[-1])
print("t1[1:4]=",t1[1:4])
print("t1[2:-2]=",t1[2:-2])

t1[0]= Python
t1[2]= 1989
t1[-1]= AI
t1[1:4]= ('Pogrammong', 1989, 2019)
t1[2:-2]= (1989, 2019)

In [16]:
t1=("Python","Programmong"); 
t2=(1989,2019,"Machine Learning","AI");
t3=t1+t2;
print(t3);

('Python', 'Programmong', 1989, 2019, 'Machine Learning', 'AI')

In [17]:

13
t1=("Python","Programming",1989,2019,"Machine Learning","AI");
t2=(1,2,3,4,5)
print(t1);
print(t2);

('Python', 'Programming', 1989, 2019, 'Machine Learning', 'AI')
(1, 2, 3, 4, 5)

In [18]:

user1={'Name': 'Anil', 'Age': '29','EmailID':'anil@gmail.com','Mobile no.':'123456789'}
user2=user1.copy()

print(user1)
print(user2)
user1['Address']='Hyderabad'
print(user1)
print(user2)

{'Name': 'Anil', 'Age': '29', 'EmailID': 'anil@gmail.com', 'Mobile no.': '123456789'}
{'Name': 'Anil', 'Age': '29', 'EmailID': 'anil@gmail.com', 'Mobile no.': '123456789'}
{'Name': 'Anil', 'Age': '29', 'EmailID': 'anil@gmail.com', 'Mobile no.': '123456789', 'Address': 'Hyderabad'}
{'Name': 'Anil', 'Age': '29', 'EmailID': 'anil@gmail.com', 'Mobile no.': '123456789'}

In [19]:
user1={'Name': 'Anil', 'Age': '29','EmailID':'anil@gmail.com','Mobile no.':'123456789'}
print("user1[Name]=",user1['Name'])
print("user1[Age]=",user1['Age'])
print("user1[EmailID]=",user1['EmailID'])
print("user1[Mobile no.]=",user1['Mobile no.'])

user1[Name]= Anil
user1[Age]= 29
user1[EmailID]= anil@gmail.com
user1[Mobile no.]= 123456789

In [20]:
user1={'Name': 'Anil', 'Age': '29','EmailID':'anil@gmail.com','Mobile no.':'123456789'}
print(len(user1));
user1['Address']='Hyerabad'
print(len(user1))

4
5